<%- include('includes/head')%>
<%- include('includes/nav')%>
<link rel="stylesheet" href="/frontend/assets/css/estoque/style.css">
<div class="container">
  <div class="row">

    <div class="col-lg my-5">
      <div class="<%role == "financeiro" ? "container-grid" : ""%>">
        <h1>Itens em Estoque</h1>
        <% if (role == "financeiro") {%>
        <div class="top-right"><a href="/produto/"><button class="btn"><i class="fas fa-plus"></i>Adicionar Novo Item</button></a></div>
        <% } %>

        <div class="bottom-left">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Pesquisar por nome ou código" id="search-estoque">
          </div>
        </div>
      </div>

      <%- include('includes/messages') %>

      <div class="responsive-table">
        <table class="table my-3">
          <thead>
            <tr>
              <th>Nome do Produto</th>
              <th>Código</th>
              <th>Quantidade</th>
              <% if (role == "financeiro") {%>
              <th>Custo</th>
              <% } %>
              <th>Valor Venda</th>
              <% if (role == "financeiro") {%>
              <th>Ultima Atualização</th>
              <th>Ações</th> 
              <% } %>
            </tr>
          </thead>
          <% if (produtos.length > 0) { %>
            <% produtos.forEach(produto => { %>
              <tbody> 
                <tr>
                  <td><div class="data-item"><%= produto.name %></div></td>
                  <td><div class="data-item"><%= produto.code %></div></td>
                  <td><div class="data-item"><%= produto.quantidade %></div></td>
                  <% if (role == "financeiro") {%>
                  <td><div class="data-item">R$<%= (produto.custo / 100).toFixed(2) %></div></td>
                  <% } %>

                  <td><div class="data-item">R$<%= (produto.valor_venda / 100).toFixed(2) %></div></td>

                  <% if (role == "financeiro") {%>
                  <td><div class="data-item"><%= new Date(produto.data_atualizacao).toLocaleDateString('pt-BR') %></div></td>
                  
                  <td>
                      <div class="data-item">
                        <div class="actions">
                        <button class="btn-edit-estoque" data-id="<%= produto._id %>">
                          <i class="fas fa-pencil-alt"></i>
                        </button>
                        <a href="/produto/delete/<%= produto._id %>">
                          <button class="btn-delete-estoque" data-id="<%= produto._id %>">
                            <i class="fas fa-trash-alt"></i>
                          </button>
                        </a>
                      </div>
                    </div>
                  </td>
                  <% } %>
                </tr>
              </tbody>
            <% }) %>
          <% } %>
        </table>
      </div>
    
    </div>

  </div>
</div>

<%- include('includes/footer')%>
