<%- include('includes/head')%>
<%- include('includes/nav')%>
<link rel="stylesheet" href="/frontend/assets/css/vendas/style.css">
<link rel="stylesheet" href="/frontend/assets/css/vendas/modal/style.css">

<div class="container">
  <div class="row">

    <div class="col-lg my-5 table-container">
      <div class="actions">
        <div class="search-cotainer">
          <i class="fa fa-search"></i>
            <form id="search-form-name" method="GET" action="/contas">
              <input type="text" id="search-input-name" name="search-name" placeholder="Buscar por nome da conta">
              <button type="submit">Buscar</button>
            </form>
        </div>

        <div class="search-cotainer">
          <i class="fa fa-search"></i>
            <form id="search-form-number" method="GET" action="/contas">
              <input type="text" id="search-input-number" name="search-number" placeholder="Buscar pelo número da conta">
              <button type="submit">Buscar</button>
            </form>
        </div>
        
        <div class="filters">
          <div class="btn-group">
            <button type="button" class="btn btn-active">Pagas</button></a>
            <button type="button" class="btn btn-inactive">Pendentes</button>
            <button type="button" class="btn btn-all">Todas</button>
          </div>
        </div>
      </div>

      <%- include('includes/messages') %>

      <div class="responsive-table">
        <table class="table my-3">
          <thead>
            <tr>
              <th>Nome da conta</th>
              <th>Número Conta</th>
              <th>Código da Venda</th>
              <th>Data Compra</th>
              <th>Pagamento</th>
              <th>Ações</th>
            </tr>
          </thead>
          <tbody>
            <% vendas.forEach(venda => { %>
              <tr>
                <td>
                  <div class="name">
                    <div class="user-img"><i class="fa fa-shopping-cart"></i></div>
                    <%= venda.account_id.name %>
                  </div>
                </td>
                <td class="td-number">
                  <div class="count-number"><%= venda.account_id.number %></div>
                </td>
                <td class="td-number">
                  <div class="count-number"><%= venda.cod_venda %></div>
                </td>
                <td class="td-number">
                  <div><%= new Date(venda.data_venda).toLocaleDateString('pt-BR') %></div>
                </td>
                <td>
                  <div class="payment">
                    <% if (venda.status) {%>
                      <div class="status-payment pay">Paga</div>
                    <% } else { %>
                      <div class="status-payment pending">Pendente</div>
                    <% } %>
                  </div>
                </td>
                <td>
                  <div class="config">
                    <button class="dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                      <i class="fa fa-cog"></i>
                    </button>
                    <div class="dropdown-menu dropdown-menu-right">
                      <button class="dropdown-item delete-venda"
                      data-name="<%= venda.account_id.name %>"
                      data-id="<%= venda._id %>"
                      >
                        Deletar
                      </button>
                      <div class="dropdown-divider"></div>
                      <button class="dropdown-item openModalDescription"
                      data-toggle="modal"
                      data-target="#completDescripionVendaModal"
                      data-venda="<%= JSON.stringify(venda) %>">
                        Descrição completa
                      </button>
                        
                    </div>
                  </div>
                </td>
              </tr>
            <% }); %>
          </tbody>
        </table>
      </div>
      <nav aria-label="Page navigation example">
        <ul class="pagination">

          <li class="page-item <%= currentPage === 1 ? 'disabled' : '' %>">
            <a class="page-link" href="/vendas/<%= currentPage - 1 %>" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>

          <% for (let i = 1; i <= totalPages; i++) { %>
            <li class="page-item <%= i === currentPage ? 'active' : '' %>">
              <a class="page-link" href="/vendas/<%= i %>"><%= i %></a>
            </li>
          <% } %>

          <li class="page-item <%= currentPage === totalPages ? 'disabled' : '' %>">
            <a class="page-link" href="/vendas/<%= currentPage + 1 %>" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>

        </ul>
      </nav>

    </div>
  </div>
</div>

<%- include('includes/modals/completDescripionVendaModal') %>


<%- include('includes/footer')%>
